body {
    background-color: slateblue;
    margin: 0;
}

.strip {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0);
    border-bottom: 1px solid lightgray;
    background-color: slategray;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice {
    font-size: 5em;
    color: hotpink;
    width: .25em;
    height: .5em;
    float: left;
    border: .12em solid black;
    padding: .8em;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .12em;
}

.display {
    text-align: center;
}

@media only screen
and (max-device-width: 480px) {
/* Styles */
    .choice {
        font-size: 3em;
    }
}

@media only screen
and (min-device-width: 481px)
and (max-device-width: 760px) {
/* Styles */
    .choice {
        font-size: 4em;
    }
}